@import "tailwindcss";
@tailwind utilities;

:root {
  --gray: #f1f1f1;
  --gray-dark: #909090;
  --gray-dark-more: #757575;
  --gray-border: #bfbfbf;
  --red: #ff003c;
  --red-dark: #d60032;
  --blue: #1e2f56;
  --blue-pastel: #669bbf;
  --blue-dark: #15224c;
}

@layer base {
  body {
    @apply bg-[var(--gray)] text-[var(--blue)];
    font-family: Arial, Helvetica, sans-serif;
  }

  /* Scrollbar customizada */
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 9999px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 9999px;
    border: 20px solid transparent;
    background-clip: content-box;
    margin-bottom: 2px;
  }

  /* Firefox */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #c1c1c1 #f1f1f1;
  }
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
